@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
    background-image: url(img/bck2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
    position: relative;
	font-family: 'Work Sans', sans-serif;
}

.break {
    clear: both;
}

.nav {
    background-color: black;
    color: white;
    padding: 0 2em;
}

.h1 {
    float: left;
    padding: 0.5rem;
    padding-right: 2rem;
}

h3 {
    padding: 0.5rem;
	color: white;
}

.wrapper {
    text-align: center;
}

canvas {
    background-color: black;
    align-content: center;
    box-shadow: 10px 10px 10px blueviolet, 10px 10px 10px orangered;
    text-align: center;
}

.btn {
    text-align: center;
}

#displayScore {
    padding: 0.5rem;
}

#reload:focus {
    outline: none;
}

#reload:hover {
    background-color: red;
}

#reload:active {
    background-color: grey;
    border: 2px black;
}

#reload {
    background-color: black;
    color: white;
    padding: 1rem 2rem;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    cursor: pointer;
    border: 2px black;
}

@media (max-width:600px) {
    #reload {
        padding: 1rem 0.5rem;
    }
    .h1 {
        padding-right: 0.5rem;
    }
    nav {
        padding: 0rem;
        width: 100%;
    }
}

@media (max-width:400px) {
    #reload {
        padding: 1rem 2rem;
    }
    .h1 {
        padding-right: 2rem;
    }
    nav {
        padding: 0rem 1rem;
        width: 100%;
    }
}

i {
    height: 10px;
    width: 10px;
}

.dirBtn {
    background-color: orangered;
    border: none;
    color: white;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    margin: 0.4rem;
}

.dirBtn:active {
    background-color: wheat;
}

.dirBtn:focus {
    outline: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}
  
.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 16px;
    background-color: inherit;
    margin: 0;
}
  
.dropdown:hover .dropbtn {
    background-color: red;
}
  
.dropdown-content {
    padding-left: 1rem;
    padding-top: 0.5rem;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 8rem;
    z-index: 1000;
    color: black;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}